################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TemplateTest/.vs/TemplateTest/v16/Server/sqlite3
