################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TemplateTest/.vs/TemplateTest/v16/Server/sqlite3
/TemplateTest/TemplateTest/bin/Debug/netcoreapp3.1
/TemplateTest/TemplateTest/obj
/TemplateTest/.vs/TemplateTest/v16
